<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<title>agregar</title>  
</head>
<body>
    <h3>ver los activos</h3>
    <a href="/buscar">mostrar</a>
    
    <table class="table table-sm">
        <tr>
            <th>ID</th>
            <th>nombre</th>
            <th>estado</th>
            <br>
            <a href="/principal">ir al inicio</a>
            {% for resul in mostrar %}
        <tr>
            <td>{{resul[0]}}</td>
            <td>{{resul[1]}}</td>
            <td>{{resul[2]}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
    